{% extends "base.html" %}
{% block content %}
<section id="content" class="body">

<div class="">
<script>
  (function() {
    var cx = '016639176250731907682:caz3h6dbzsc';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
</div>

<h1>Archives for {{ SITENAME }}</h1>

<dl>
{% for article in dates %}
    <dt>{{ article.locale_date }}</dt>
    <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a> {{ article.category }}</dd>
{% endfor %}
</dl>
</section>
{% endblock %}
